<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/project.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
  <nav class="navbar navbar-default">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Judgemental Eye</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          {% if 'logged_in_email' in session %}
          <li>
            <a href="/logout">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/registration">Register</a>
          </li>
          {% endif %}
       </ul>
     </div>

    </div>
  </nav>
  <div>
    {% if 'logged_in_email' in session %}
    <p>
      You are logged in as {{ session['logged_in_email'] }}
    </p>
    {% else %}
    <p>
      You are not logged in.
    </p>
    {% endif %}




  </div>

       <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div style="background-color: yellow" class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block content %} put your content here {% endblock %}


</div>
</body>
</html>
